
/* HOME */

.root {
    -fx-background-color: #F7EFDE;
    -fx-font-family: "Roboto";
}

.returnBtn {
    -fx-background-color: linear-gradient(#ACBEA2, #A4B997);
    -fx-text-fill: #FFFBF4;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
}

.productsTitle Label {
    -fx-font-size: 24px;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
    -fx-padding: 40 0 0 0;
}

.addBtnProducts, .delBtnProducts, .editBtnProducts, .showBtnProducts {
    -fx-background-color: linear-gradient(#ACBEA2, #A4B997);
    -fx-text-fill: #FFFBF4;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-min-height: 35px;
    -fx-min-width: 160px;
    -fx-font-size: 15px;
}

.productsBtnContainer {
    -fx-padding: 70 0 0 0;
}


/* ADD PRODUCTS*/

.addTitle Label {
    -fx-font-size: 24px;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
    -fx-padding: 40 0 0 0;
}

#addTxt {
    -fx-font-size: 16px;
    -fx-fill: #758B68;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#addTxtContainer {
    -fx-padding: 20 0 0 0;
}

.addProductGrid Label {
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}

.addProductGrid TextField {
    -fx-background-color: #D0D4BE;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: #3C582B;
    -fx-max-height: 12px;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

.submitAddedProductsBtn {
    -fx-background-color: linear-gradient(#ACBEA2, #A4B997);
    -fx-text-fill: #FFFBF4;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-min-height: 35px;
    -fx-min-width: 110px;
    -fx-font-size: 15px;
}

.addProductsContainer {
    -fx-padding: 50 0 0 0;
}

#suppliersComboBox {
    -fx-background-color: #D0D4BE;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-max-height: 12px;
    -fx-font-size: 10px;
    -fx-prompt-text-fill: #758B68;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}


/* DELETE PRODUCTS*/

.delTitle1 Label {
    -fx-font-size: 24px;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
    -fx-padding: 40 0 0 0;
}

#delTxt1 {
    -fx-font-size: 16px;
    -fx-fill: #758B68;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#delTxtContainer1 {
    -fx-padding: 20 0 0 0;
}

#idProductsContainer {
    -fx-padding: 40 0 0 0;
}

.boxProductsContainer Label {
    -fx-font-size: 13px;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}

.boxProductsContainer ComboBox {
    -fx-background-color: #D0D4BE;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-max-height: 12px;
    -fx-font-size: 10px;
    -fx-prompt-text-fill: #758B68;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}

.submitDeletedProductsBtn {
    -fx-background-color: linear-gradient(#ACBEA2, #A4B997);
    -fx-text-fill: #FFFBF4;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-min-height: 35px;
    -fx-min-width: 110px;
    -fx-font-size: 15px;
}

#inputResult Label {
    -fx-font-size: 15px;
    -fx-text-fill: #3C582B;
}


/* EDIT PRODUCTS */

.editTitle1 Label, .editTitle2 Label{
    -fx-font-size: 24px;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
    -fx-padding: 40 0 0 0;
}

#editTxt1, #editTxt2 {
    -fx-font-size: 16px;
    -fx-fill: #758B68;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}

#editTxtContainer1, #editTxtContainer2 {
    -fx-padding: 20 0 0 0;
}

#idProductsContainer Label {
    fx-font-size: 20px;
    -fx-text-fill: #3C582B;
}

#idProductsContainer TextField {
    -fx-background-color: #D0D4BE;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-max-height: 12px;
    -fx-font-size: 10px;
    -fx-prompt-text-fill: #758B68;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}

.editProductsGrid Label {
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}

.editProductsGrid TextField {
    -fx-background-color: #D0D4BE;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: #3C582B;
    -fx-max-height: 12px;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

#idProductsContainer {
    -fx-padding: 40 0 0 0;
}

.submitEditedProductsBtn1, .submitEditedProductsBtn2 {
    -fx-background-color: linear-gradient(#ACBEA2, #A4B997);
    -fx-text-fill: #FFFBF4;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-min-height: 35px;
    -fx-min-width: 110px;
    -fx-font-size: 15px;
}

#idProductsInput, #nameProductsInput, #priceProductsInput, #quantityProductsInput, #supplierProductsInput {
    -fx-prompt-text-fill: #758B68;
    -fx-text-fill: #3C582B;
}

/* SHOW PRODUCTS */

.showTitle Label {
    -fx-font-size: 24px;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
    -fx-padding: 40 0 0 0;
}

.sortFilterContainer {
    -fx-padding: 20 0 0 0;
}

.sortProducts {
    -fx-font-size: 13px;
    -fx-padding: 0 0 0 10;
    -fx-text-fill: #758B68;
    -fx-font-weight: bold;
}

#sortFilter {
    -fx-background-color: #D0D4BE;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-max-height: 12px;
    -fx-font-size: 10px;
    -fx-prompt-text-fill: #758B68;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}

.searchProducts {
    -fx-font-size: 13px;
    -fx-padding: 0 0 0 10;
    -fx-text-fill: #758B68;
    -fx-font-weight: bold;
}

.searchProductsInput {
    -fx-background-color: #D0D4BE;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-max-height: 12px;
    -fx-font-size: 10px;
    -fx-prompt-text-fill: #758B68;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}

.confirmBtn {
    -fx-background-color: linear-gradient(#ACBEA2, #A4B997);
    -fx-text-fill: #FFFBF4;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-min-height: 15px;
    -fx-min-width: 20px;
    -fx-font-size: 10px;
}

.searchProductsContainer {
    -fx-padding: 20 0 0 0;
}

.combo-box .list-cell {
    -fx-text-fill: #758B68;
    -fx-font-weight: bold;
}

.combo-box .list-view .list-cell {
    -fx-text-fill: #758B68;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color : #D0D4BE;
    -fx-text-fill: white;
}

.combo-box .list-view .list-cell:focused {
    -fx-background-color: #D0D4BE;
    -fx-text-fill: white;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #A4B997;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view:focused {
    -fx-background-color: transparent;
}


/* ALERTS */
.dialog-pane {
    -fx-pref-width: 250px;
    -fx-pref-height: 50px;
    -fx-background-color: #FFF;
    -fx-border-color: #D0D4BE;
    -fx-text-fill: #3C582B;
}

.dialog-pane .content {
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}

.dialog-pane .header {
    -fx-background-color: #F7EFDE !important;
}

.dialog-pane .header .graphic {
    -fx-opacity: 0 !important;
}

.dialog-pane .button:default {
    -fx-background-color: linear-gradient(#ACBEA2, #A4B997);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.dialog-pane .header .close-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-text-fill: #3C582B;
}