.closeBtn, .returnBtn {
    -fx-background-color: #D9D9D9;
    -fx-text-fill: black;
    -fx-background-radius: 20px;
}

.homeTitle {
    -fx-font-size: 32px;
    -fx-margin: 100 0 0 0;
}

.productsBtn, .suppliersBtn, .salesBtn, .reportsBtn {
    -fx-background-color: #D9D9D9;
    -fx-text-fill: black;
    -fx-background-radius: 20px;
    -fx-min-height: 35px;
    -fx-min-width: 120px;
    -fx-font-size: 15px;
}
