
/* HOME */

.root {
    -fx-background-color: #F7EFDE;
    -fx-font-family: "Roboto";
}

.returnBtn {
    -fx-background-color: linear-gradient(#ACBEA2, #A4B997);
    -fx-text-fill: #FFFBF4;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
}

.suppliersTitle Label {
    -fx-font-size: 24px;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
    -fx-padding: 40 0 0 0;
}

.addSuppliersBtn, .delSuppliersBtn, .editSuppliersBtn, .showSuppliersBtn{
    -fx-background-color: linear-gradient(#ACBEA2, #A4B997);
    -fx-text-fill: #FFFBF4;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-min-height: 35px;
    -fx-min-width: 160px;
    -fx-font-size: 15px;
}

.suppliersBtnContainer {
    -fx-padding: 70 0 0 0;
}

/* ADD SUPPLIERS */

.addTitle Label {
    -fx-font-size: 24px;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
    -fx-padding: 40 0 0 0;
}

#addTxt {
    -fx-font-size: 16px;
    -fx-fill: #758B68;
    -fx-text-alignment: center;
}

#addTxtContainer {
    -fx-padding: 20 0 0 0;
}

.addSuppliersGrid Label {
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}

.addSuppliersGrid TextField {
    -fx-background-color: #D0D4BE;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: #3C582B;
    -fx-max-height: 12px;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

.submitAddedSuppliersBtn {
    -fx-background-color: linear-gradient(#ACBEA2, #A4B997);
    -fx-text-fill: #FFFBF4;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-min-height: 35px;
    -fx-min-width: 110px;
    -fx-font-size: 15px;
}

.addSuppliersContainer {
    -fx-padding: 50 0 0 0;
}


/* DEL SUPPLIERS */

.delTitle1 Label, .delTitle2 Label {
    -fx-font-size: 24px;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
    -fx-padding: 40 0 0 0;
}

#delTxt1, #delTxt2 {
    -fx-font-size: 16px;
    -fx-fill: #758B68;
    -fx-text-alignment: center;
}

#delTxtContainer1, #delTxtContainer2 {
    -fx-padding: 20 0 0 0;
}

#idSuppliersContainer {
    -fx-padding: 40 0 0 0;
}

#suppliersComboBox {
    -fx-padding: 40 0 0 0;
}

.submitDeletedSuppliersBtn1, .submitDeletedSuppliersBtn2 {
    -fx-background-color: linear-gradient(#ACBEA2, #A4B997);
    -fx-text-fill: #FFFBF4;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-min-height: 35px;
    -fx-min-width: 110px;
    -fx-font-size: 15px;
}

#inputResult Label {
    -fx-font-size: 15px;
    -fx-text-fill: #3C582B;
}

#suppliersComboBox {
    -fx-padding: 0 0 0 0;
    -fx-pref-height: 25px;
    -fx-font-size: 10px;
}

.boxSuppliersContainer Label {
    -fx-font-size: 13px;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}

.boxSuppliersContainer ComboBox {
    -fx-background-color: #D0D4BE;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-max-height: 12px;
    -fx-font-size: 10px;
    -fx-prompt-text-fill: #758B68;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}

/* EDIT SUPPLIERS */

.editTitle1 Label, .editTitle2 Label {
    -fx-font-size: 24px;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
    -fx-padding: 40 0 0 0;
}

#editTxt1, #editTxt2 {
    -fx-font-size: 16px;
    -fx-fill: #758B68;
    -fx-text-alignment: center;
}

#editTxtContainer1, #editTxtContainer2 {
    -fx-padding: 20 0 0 0;
}

#idSuppliersLabel Label {
    fx-font-size: 20px;
}

.editSuppliersGrid Label {
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}

.editSuppliersGrid TextField {
    -fx-background-color: #D0D4BE;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: #3C582B;
    -fx-max-height: 12px;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

#idSuppliersContainer {
    -fx-padding: 40 0 0 0;
}

.submitEditedSuppliersBtn1, .submitEditedSuppliersBtn2 {
    -fx-background-color: linear-gradient(#ACBEA2, #A4B997);
    -fx-text-fill: #FFFBF4;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-min-height: 35px;
    -fx-min-width: 110px;
    -fx-font-size: 15px;
}

#idSuppliersInput, #nameSuppliersInput, #phoneSuppliersInput, #addressSuppliersInput, #emailSuppliersInput {
    -fx-prompt-text-fill: #758B68;
    -fx-text-fill: #3C582B;
}

/* SHOW Suppliers */

.showTitle Label {
    -fx-font-size: 24px;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
    -fx-padding: 40 0 0 0;
}

.sortFilterContainer {
    -fx-padding: 20 0 0 0;
}

.sortSuppliers {
    -fx-font-size: 13px;
    -fx-padding: 0 0 0 10;
    -fx-text-fill: #758B68;
    -fx-font-weight: bold;
}

#sortFilter {
    -fx-background-color: #D0D4BE;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-max-height: 12px;
    -fx-font-size: 10px;
    -fx-prompt-text-fill: #758B68;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}

.searchSuppliers {
    -fx-font-size: 13px;
    -fx-padding: 0 0 0 10;
    -fx-text-fill: #758B68;
    -fx-font-weight: bold;
}

.searchSuppliersInput {
    -fx-background-color: #D0D4BE;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-max-height: 12px;
    -fx-font-size: 10px;
    -fx-prompt-text-fill: #758B68;
    -fx-text-fill: #3C582B;
    -fx-font-weight: bold;
}

.confirmBtn {
    -fx-background-color: linear-gradient(#ACBEA2, #A4B997);
    -fx-text-fill: #FFFBF4;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-min-height: 15px;
    -fx-min-width: 20px;
    -fx-font-size: 10px;
}

.searchSuppliersContainer {
    -fx-padding: 20 0 0 0;
}

.combo-box .list-cell {
    -fx-text-fill: #758B68;
    -fx-font-weight: bold;
}

.combo-box .list-view .list-cell {
    -fx-text-fill: #758B68;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color : #D0D4BE;
    -fx-text-fill: white;
}

.combo-box .list-view .list-cell:focused {
    -fx-background-color: #D0D4BE;
    -fx-text-fill: white;
}


